/* PAGE */
.moviePage {
  background: #0f0f0f;
  color: #fff;
}

/* HERO SECTION */

.heroSection {
  background-size: cover;
  background-position: center;
  position: relative;
}

/* modern fade bottom */
.heroSection::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  /* background: linear-gradient(to top, #0f0f0f, transparent); */
}

.heroOverlay {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
  backdrop-filter: blur(1.5px);
  padding: 60px 20px;
}

/* TEXT */

.heroTitle {
  font-size: 2.5rem;
  font-weight: 700;
}

.heroMeta {
  display: flex;
  gap: 14px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.heroRating {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* BUTTON */

.heroBookBtn {
  margin-top: 20px;
  background: linear-gradient(135deg, #ff4d6d, #ff2c4f) !important;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(255, 77, 109, 0.4);
}

/* CONTENT */

.movieContent {
  max-width: 1100px;
  margin: auto;
  padding: 30px 16px 60px;
}

.sectionTitle {
  margin: 20px 0 10px;
  font-size: 1.6rem;
}

.description {
  color: #ccc;
  line-height: 1.7;
}

/* THEATRES */

.theatreCard {
  border-radius: 16px;
  background: #1c1c1c;
  color: #fff;
}

.bookBtn {
  margin-top: 12px;
  background: #ff4d6d !important;
  border-radius: 8px;
}

/* CAST */

.castItem {
  text-align: center;
}

.castImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.castName {
  margin-top: 6px;
  font-weight: 600;
}

.castAlias {
  font-size: 12px;
  color: #aaa;
}

/* BACK BUTTON */

.backButton {
  color: white !important;
  margin-bottom: 20px;
}

.backButton {
  color: #fff !important;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  padding: 4px 10px;
  height: auto;
  display: inline-flex;
  align-items: center;
  gap: 6px;

  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

/* hover effect */
.backButton:hover {
  background: rgba(255, 255, 255, 0.18) !important;
  transform: translateX(-3px);
}

/* icon spacing */
.backButton .anticon {
  font-size: 14px;
}

/* MOBILE */

@media (max-width: 768px) {
  .heroOverlay {
    padding: 20px 16px;
  }

  .heroTitle {
    font-size: 1.4rem;
  }

  .heroMeta {
    font-size: 12px;
    gap: 8px;
  }

  .heroBookBtn {
    width: 100%;
    margin-top: 12px;
  }
}
